# Exclude everything
/*

# Except .vim
!/.vim/
!/.vim/*
# Exclude the .netwrhist which gets updated
/.vim/.netrwhist

# Except .bashrc-plugins
!/.bashrc-plugins/
!/.bashrc-plugins/*
# Exclude *work.sh
/.bashrc-plugins/*work.sh

# Except bash startup scripts
!/.profile
!/.bashrc

# Except gitconfig and gitignore
!/.gitconfig
!/.gitignore

# Except vimrc
!/.vimrc

# Except tmuxstuff
!/.tmux.conf
!/.tmux/
!/.tmux/*

# Except fonts stuff (for powerline)
!/.fonts/
!/.fonts/*
!/.fonts.conf.d/
!/.fonts.conf.d/*

# Except the .config directory for including .config/powerline
!/.config/

# Except the virtualenv stuff
!/.virtualenvs/

# Except .inputrc
!/.inputrc

# Except .colordiffrc
!/.colordiffrc
