github:airblade/vim-gitgutter
github:bling/vim-airline
github:ctrlpvim/ctrlp.vim
github:d11wtq/ctrlp_bdelete.vim
github:davidhalter/jedi-vim
github:majutsushi/tagbar
github:marijnh/tern_for_vim
github:mbbill/undotree
github:nathanaelkane/vim-indent-guides
github:scrooloose/nerdtree
github:sheerun/vim-polyglot
github:sprsquish/thrift.vim
github:tfnico/vim-gradle
github:tpope/vim-fugitive
github:Tuxdude/mark.vim
github:Tuxdude/perforce
github:Valloric/YouCompleteMe
github:vim-scripts/colorsel.vim
github:vim-scripts/genutils
github:vim-scripts/indentpython.vim
github:xolox/vim-easytags
github:xolox/vim-misc
